.team-main-container {
  display: flex;
  background-color: #000000;
  padding: 20px;
  overflow: hidden;
}

.team-members-container {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, 350px);
  gap: 16px;
}

.team-box {
  /* padding: 15px; */
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 10px;
}

/* Highlighted box styling for the 3rd grid cell */
.team-box:nth-child(3) {
  grid-column: span 2;
  grid-row: span 2;
}

/* Prime number boxes to span two rows */
.team-box.primeNumber {
  grid-row: span 2;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 10px;
}


.team-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.team-info-container {
  flex: 1;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Responsive adjustments */
@media (max-width: 767px) {
  .team-members-container {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: minmax(100px, 350px);
  }
}

@media (max-width: 480px) {
  .team-main-container {
    flex-direction: column-reverse;
  }

  .team-members-container {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }

  .team-info-container h2 {
    font-size: 5rem;
  }
}
